.form-container {
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}

.form-group {
    margin: 0 auto;
}

.form-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    padding-left: 9px;
}

.form-group label {
    display: block;
    margin-bottom: 2px;
}

.login-btn {
    width: 415px;
    height: 55px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.login-btn:hover {
    background: rgba(255, 153, 0, 0.5);
}

.link {
    text-decoration: none;
    color: #FF9900;
}